.action-buttons {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;

	flex: 1;
	/* background-color: red; */
	.readmore {
		font-family: nunito;
		margin-right: 40px;
		color: #3d395a;
		background-color: none;
		background-image: linear-gradient(45deg, #575276, #af4261);
		background-size: 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-text-fill-color: transparent;

		&:hover {
			color: #292641;
			background-color: none;
			background-image: linear-gradient(45deg, #af4261, #575276);
			background-size: 100%;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-text-fill-color: transparent;
		}
	}
}
