/* fonts */
@font-face {
	font-family: odibeesans;
	src: url(../fonts/Odibee_Sans/OdibeeSans-Regular.ttf);
      }
      @font-face {
	font-family: nunito-bold;
	src: url(../fonts/Nunito/Nunito-Bold.ttf);
      }
      @font-face {
	font-family: nunito-light;
	src: url(../fonts/Nunito/Nunito-Light.ttf);
      }
      @font-face {
	font-family: nunito-semibold;
	src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
      }
      @font-face {
	font-family: nunito-regular;
	src: url(../fonts/Nunito/Nunito-Regular.ttf);
      }
      @font-face {
	font-family: raleway-regular;
	src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
      }
      @font-face {
	font-family: raleway-bold;
	src: url(../fonts/Raleway/static/Raleway-Bold.ttf);
      }