$colormain: #575276;
$color-secondary: #302b4d;
$color-white: #ffffff;
$bg-color-post: #ededed;
$color-black: #302b4d;
$color-post-subtitle-text: #22202E;
$fmly-font-nunito: nunito-bold, sans-serif;
$fmly-font-raleway: Raleway;

